*{
    padding: 0;
    margin: 0;
}
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
}
.cover-img{
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: no-repeat fixed center center ;
    background-size: cover;
    opacity: 0.4;

}
.header{
    position: fixed;
    width: 100%;
    top: 10px;
    margin: 0 auto;
}
img.avator{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
img.avator:hover{
    border: 1px solid #eee;
}
nav{
    padding-top: 10px;
}
img.codeimg{
    position: absolute;
    top: 50px;
    left: 43%;
    width: 200px;
    opacity: 0.6;
    display: none;
}
.list{
    width: 100%;
    text-align: center;
    height: 50px;
}
.list li{
    display: inline-block;
}
.list li a{
    padding: 0 10px;
    margin: 16px 0;
    color: #151515;
    font: 400 12px/14px 'Montserrat', "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: none;
    border-right: 1px solid #aaa;
    text-decoration: none;
}
.list li i.fa{
    font-size: 20px;
}
.fa-weixin:hover{
    color: #51c332;
}
.fa-github:hover{
    color: #4078c0;
}
.fa-home:hover{
    color: #2fccba;
}
.fa-weibo:hover{
    color: #c34331;
}
.list span{
    font-family: "Georgia", "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    font-style: italic;
    margin-left: 4px;
    margin-right: 3px;
    text-transform: none;
    position: relative;
    top: 1px;
}
.section{
    position: absolute;
    top: 400px;
    width: 500px;
    left: 50%;
    margin: 0 auto;
    text-align: center;
    transform: translateX(-50%);
}
.glad{
    position: relative;
    padding: 10px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Hiragino Sans GB", "Microsoft YaHei", "Source Han Sans CN", "WenQuanYi Micro Hei", Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 1px;
    transition: color 1s ease;
    opacity: 0.6;
}
.glad:hover{
    opacity: 1;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}
.glad:after{
    content: '';
    background-color: #151515;
    width: 3px;
    height: 3px;
    right: 10%;
    bottom: 0;
}
.glad:hover:after{
    width: 80%;
    margin: 0 auto;
    position: absolute;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;
}

#wrapper {
    display: none;
    position: absolute;
    left: 0;
    width: 320px;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-left: -160px;
    margin-top: -160px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#wrapper h1 {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 9px;
    text-transform: uppercase;
    margin: 12px 0;
    left: 4px;
    display: inline-block;
    font-weight: bolder;
    line-height: 3rem;
    height: 3rem;
    padding: 0 1rem;
    -webkit-transition: padding 0.3s ease-out;
    transition: padding 0.3s ease-out;
}
#wrapper h1:hover{
    padding: 0 1.5rem;
    background-color: #f03838;
    color: #fff;
}
#wrapper h2 {
    color: #999;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: .12em;
    margin-bottom: 30px;
    left: 3px;
}
#wrapper h1,#wrapper h2 {
    position: relative;
}
#wrapper p {
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    letter-spacing: 2px;
}
#wrapper a {
    color: #999;
    text-decoration: none;
    transition: color .2s ease;
}
#wrapper a:hover {
    color: #f33;
}
@media (max-width: 767px) {
    #wrapper{
        display: block;
    }
    .container{
        display: none;
    }
}