body{
    padding: 0;
    margin: 0;
    min-height: 550px;
    font-family: "微软雅黑";
}
.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    min-height: 550px;
    background-color: #FFF;
}
.header-container{
    height: 10%;
    width: 100%;
    position: relative;
    background-color: #000;
    z-index: 1;
    box-shadow: 1px 1px 2px #eee;
}
.header-content {
    width: 100%;
    height: 100%;
    z-index: 2;
}
.logo-container{
    height: 65%;
    position: relative;
    width: 100%;
    background: center no-repeat fixed #FFF;
    background-size: cover;
}
.logo-container p{
    font-size: 16px;
    font-weight: bold;
    font-family: "微软雅黑";
    color: black;
}
@media screen and (max-width: 1123px){
    .left-about,.right-about{
        display: none;
    }
}
.left-about{
    position: relative;
    float: left;
    top: 30%;
    left: 40px;
}
.right-about{
    position: relative;
    float: right;
    top: 30%;
    right: 60px;
}
.logo-svg{
    position: absolute;
    left: 50%;
    top: 50%;
    background: url("../images/img6.jpg") center no-repeat;
    -webkit-transform: translate(-50%,-50%) scale(.9);
    transform: translate(-50%,-50%) scale(.9);
    width: 500px;
    height: 600px;
}


.info-container{
    width: 100%;
    position: relative;
    height: 30%;
    background-color: #000;
    z-index: 1;
}
.info-pre{
    position: absolute;
    left: 50%;
    top: 20%;
    text-align: center;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 50px;
    z-index: 1;
    color: #eee;
}
.info-pre span{
    padding: 0 40px;
}
.info-content {
    transform: translate(-50%,-50%);
    width: 800px;
    height: 150px;
    z-index: 1;
}
.info-avatar, .info-content, .info-link {
    position: absolute;
    left: 50%;
    top: 50%;
}

.info-avatar {
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 0 3px #000,0 0 0 5px #fff;
    z-index: 9;
}
.info-avatar:hover {
    box-shadow: 0 0 0 3px #000,0 0 0 6px #909090;
}
.info-link {
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
a:link, a:visited {
    color: #ffffff;
}
a:active, a:hover, a:link, a:visited {
    text-decoration: none;
}
.h-info-icon{
    float: left;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 30px;
}
.h-info-icon:hover{
    color: grey;
}
.h-info-link{
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    position: absolute;
    width: 320px;
    left: 50%;
    top: 50%;
}
.info-icon {
    float: left;
    overflow: hidden;
    display: block;
    width: 50px;
    height: 50px;
    margin: 20px;
}

.info-icon i {
    display: block;
    width: 50px;
    height: 50px;
}
.info-icon i:hover {
    border-radius: 6px;
    color: rgba(255,255,255,.9);
    background-color: #909090;
}

.info-icon i {
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    color: #000;
    background-color: rgba(255,255,255,.3);
    cursor: pointer;
}
.info-icon, .info-icon i {
    display: block;
    width: 50px;
    height: 50px;
}
.info-icon i, .logo-container {
    transition: all .5s ease-in-out;
}